*,
*::before,
*::after {
    box-sizing: border-box;
}
:root {
    --ff-primary: 'Kanit', sans-serif;

    --fw-reg: 400;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #000;
    --clr-tomato: tomato;
    --clr-green: lightseagreen;
    --clr-gray: lightgray;
    --clr-gray-darker: #a5a5a5;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;


    --bs-soft: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    --radius: 0.25rem;
    --radius-larger: 0.5em;

    --transition: all 0.3s linear;
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.75rem;
        --fs-body: 1.125rem;
    }
}

/****************************General Styles*******************************/
html {
    scroll-behavior: smooth;
}
body {
    background: var(--clr-tomato);
    color: var(--clr-light);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}
img {
    max-width: 100%;
}
strong {
    font-weight: var(--fw-bold);
}
.btn {
    font-size: var(--fs-body);
    background-color: var(--clr-gray);
    color: var(--clr-dark);
    transition: var(--transition);

}
.btn:hover {
  background-color: var(--clr-green);
    color : var(--clr-light);
  cursor: pointer;
}
/**************************** Typography *******************************/

h1,
h2,
h3 {
    line-height: 1.6;
    margin: 0;
}
h1 {
    font-size: var(--fs-h1);
}
h2 {
    font-size: var(--fs-h2);
}
h3 {
    font-size: var(--fs-h3);
}
/**************************** App-CSS *******************************/

.App-container {
    width: 100vw;
    background-color: var(--clr-tomato);
}
.App-content {
    width: 75%;
    margin: 5rem auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2 {
    height: 10%;
    margin-bottom: 2rem;
}
.form-container {
    height: 15%;
    width: 100%;
    margin-bottom: 2rem;
    display: grid;
    grid-template-areas:
        "item btn"
        "number btn";
    grid-gap: 0;
    grid-template-columns: 3fr 1fr;
}
.Grocery-list-container {
    width: 100%;
    height: 70%;
}
.item {
    grid-area: item;
    border: 1px solid lightgray;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    padding: 0 1rem;
}
.number {
    grid-area : number;
    border: 1px solid lightgray;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    padding: 0 1rem;
}
.btn {
    background-color: var(--clr-green);
    grid-area: btn;
    border: 1px solid lightgray;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
.Grocery-list-content {
    width: 100%;
    margin: 0 auto;
    display: grid;
    /*grid-template-columns: 1.5fr 1.5fr 1fr;*/
    grid-template-columns: 1.5fr 1.5fr 0.5fr 0.5fr;
    grid-gap: 0;
}
.check-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
    border:transparent;
}
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: var(--clr-gray);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.Grocery-list-content p {
    font-size: 1.5rem;
}
.Grocery-list-content label {
    font-size: 1.5rem;
    color : var(--clr-light);
}
input[type="checkbox"]::after {
    content: "\f00c";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    font-size: 1rem;
    color: var(--clr-light);
    display: none;
    transition: all 0.3s ease-in-out;
}
input[type="checkbox"]:hover {
    background-color: var(--clr-gray-darker);
}
input[type="checkbox"]:checked {
    background-color: var(--clr-green);
}
input[type="checkbox"]:checked::after {/*let op! Made a mistake*/
    display: block;
}

.delete-btn {
    width: 20px;
    height: 20px;
    background-color: var(--clr-tomato);
    color: var(--clr-light);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    border: transparent;
    font-size: 1.5rem;
    font-weight: 900;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.delete-btn:hover{
    color: var(--clr-dark);
}